body {
    background-color: gray;
}

.spantest {

}

p {
    font-size: 30px;

}
#animation {
    animation-name: anim;
    animation-duration: 3s;

}

@keyframes anim {
    from {

    }
    to {


    }




}